		#header {
			text-align: center;
		}
		h1 {
			color: #339966;
		}
		h2 {
			color: gold;
		}
		.board {
			height: 50%;
			width: 50%;
			display: inline-block;
			float: left;
			margin: 8%;
		}
		.card, img {
			height: 200px;
			width: 150px;
			border: 1px;
			border-style: solid;
			border-color: #000000;
			background-color: #ffff00;
			border-radius: 10px;
			float: left;
			margin: 11%;
			background-size: cover;
		}
		#footer {
			text-align: center;
			background-color: #808080;
			clear: both;
		}
		.name {
			color: #ff0000;
		}
		nav {
			background-color: #808080;
		}
		nav a {
			text-decoration: none;
			display: block;
			background-color: #ffbf00;
			padding: 35px;
			color: white;
			float: left;
		}
		nav a:hover {
			background-color: #ee5f3c;
		}
		.clearfix:after {
			visibility: hidden;
        	display: block;
        	content: " ";
        	clear: both;
        	height: 0;
        	font-size: 0;
    	}
